<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zytrade.service.mobile.dao.AcAssignAcMapper" >
  <resultMap id="BaseResultMap" type="zytrade.service.mobile.entity.AcAssignAcDO" >
    <result column="ASSIGNID" property="assignid" jdbcType="DECIMAL" />
    <result column="ACIDES" property="acides" jdbcType="VARCHAR" />
    <result column="ORGID" property="orgid" jdbcType="DECIMAL" />
    <result column="FEERATE" property="feerate" jdbcType="DECIMAL" />
    <result column="FDMAXMONEY" property="fdmaxmoney" jdbcType="DECIMAL" />
    <result column="FDMINMONEY" property="fdminmoney" jdbcType="DECIMAL" />
    <result column="FDFEERATE" property="fdfeerate" jdbcType="DECIMAL" />
    <result column="CASHRATE" property="cashrate" jdbcType="DECIMAL" />
  </resultMap>
  <insert id="insert" parameterType="zytrade.service.mobile.entity.AcAssignAcDO" >
    insert into INFO_AC_ASSIGN_AC (ASSIGNID, ACIDES, ORGID, 
      FEERATE, FDMAXMONEY, FDMINMONEY, 
      FDFEERATE, CASHRATE)
    values (#{assignid,jdbcType=DECIMAL}, #{acides,jdbcType=VARCHAR}, #{orgid,jdbcType=DECIMAL}, 
      #{feerate,jdbcType=DECIMAL}, #{fdmaxmoney,jdbcType=DECIMAL}, #{fdminmoney,jdbcType=DECIMAL}, 
      #{fdfeerate,jdbcType=DECIMAL}, #{cashrate,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="zytrade.service.mobile.entity.AcAssignAcDO" >
    insert into INFO_AC_ASSIGN_AC
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="assignid != null" >
        ASSIGNID,
      </if>
      <if test="acides != null" >
        ACIDES,
      </if>
      <if test="orgid != null" >
        ORGID,
      </if>
      <if test="feerate != null" >
        FEERATE,
      </if>
      <if test="fdmaxmoney != null" >
        FDMAXMONEY,
      </if>
      <if test="fdminmoney != null" >
        FDMINMONEY,
      </if>
      <if test="fdfeerate != null" >
        FDFEERATE,
      </if>
      <if test="cashrate != null" >
        CASHRATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="assignid != null" >
        #{assignid,jdbcType=DECIMAL},
      </if>
      <if test="acides != null" >
        #{acides,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=DECIMAL},
      </if>
      <if test="feerate != null" >
        #{feerate,jdbcType=DECIMAL},
      </if>
      <if test="fdmaxmoney != null" >
        #{fdmaxmoney,jdbcType=DECIMAL},
      </if>
      <if test="fdminmoney != null" >
        #{fdminmoney,jdbcType=DECIMAL},
      </if>
      <if test="fdfeerate != null" >
        #{fdfeerate,jdbcType=DECIMAL},
      </if>
      <if test="cashrate != null" >
        #{cashrate,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>