<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zytrade.service.mobile.dao.ActivationCodeMapper" >
  <resultMap id="BaseResultMap" type="zytrade.service.mobile.entity.ActivationCodeDO" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ROLEID" property="roleid" jdbcType="DECIMAL" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="EFFECTIVE" property="effective" jdbcType="DECIMAL" />
    <result column="CREATEDATE" property="createdate" jdbcType="TIMESTAMP" />
    <result column="ISACTIVATION" property="isactivation" jdbcType="DECIMAL" />
    <result column="BATCHID" property="batchid" jdbcType="DECIMAL" />
    <result column="ORGANIZATIONID" property="organizationid" jdbcType="DECIMAL" />
    <result column="TERMINALTYPEID" property="terminaltypeid" jdbcType="DECIMAL" />
    <result column="DISTRIBUTEDATE" property="distributedate" jdbcType="TIMESTAMP" />
    <result column="FEERATE" property="feerate" jdbcType="DECIMAL" />
    <result column="CLEARRATE" property="clearrate" jdbcType="DECIMAL" />
    <result column="OWNBROKERAGERATE" property="ownbrokeragerate" jdbcType="DECIMAL" />
    <result column="CLEARFEE" property="clearfee" jdbcType="DECIMAL" />
    <result column="FDMAXFEE" property="fdmaxfee" jdbcType="DECIMAL" />
    <result column="FDMINFEE" property="fdminfee" jdbcType="DECIMAL" />
    <result column="UPDATETIME" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="UPDATEOUID" property="updateouid" jdbcType="DECIMAL" />
    <result column="ASSIGNTIME" property="assigntime" jdbcType="TIMESTAMP" />
    <result column="ASSIGNOUID" property="assignouid" jdbcType="DECIMAL" />
    <result column="CASHRATE" property="cashrate" jdbcType="DECIMAL" />
    <result column="FDFEERATE" property="fdfeerate" jdbcType="DECIMAL" />
    <result column="SPEEDCASH" property="speedcash" jdbcType="DECIMAL" />
    <result column="ACODETYPE" property="acodetype" jdbcType="DECIMAL" />
    <result column="CHARGECTYPE" property="chargectype" jdbcType="DECIMAL" />
    <result column="SMFEERATE" property="smfeerate" jdbcType="DECIMAL" />
    <result column="SMFJFEERATE" property="smfjfeerate" jdbcType="DECIMAL" />
    <result column="ISDEFAULT" property="isdefault" jdbcType="DECIMAL" />
    <result column="ALIPAYFEERATE" property="alipayfeerate" jdbcType="DECIMAL" />
    <result column="QUICKFEERATE" property="quickfeerate" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ROLEID, CODE, EFFECTIVE, CREATEDATE, ISACTIVATION, BATCHID, ORGANIZATIONID, TERMINALTYPEID, 
    DISTRIBUTEDATE, FEERATE, CLEARRATE, OWNBROKERAGERATE, CLEARFEE, FDMAXFEE, FDMINFEE, 
    UPDATETIME, UPDATEOUID, ASSIGNTIME, ASSIGNOUID, CASHRATE, FDFEERATE, SPEEDCASH, ACODETYPE, 
    CHARGECTYPE, SMFEERATE, SMFJFEERATE, ISDEFAULT, ALIPAYFEERATE, QUICKFEERATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from INFO_ACTIVATION_CODE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from INFO_ACTIVATION_CODE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="zytrade.service.mobile.entity.ActivationCodeDO" >
    insert into INFO_ACTIVATION_CODE (ID, ROLEID, CODE, 
      EFFECTIVE, CREATEDATE, ISACTIVATION, 
      BATCHID, ORGANIZATIONID, TERMINALTYPEID, 
      DISTRIBUTEDATE, FEERATE, CLEARRATE, 
      OWNBROKERAGERATE, CLEARFEE, FDMAXFEE, 
      FDMINFEE, UPDATETIME, UPDATEOUID, 
      ASSIGNTIME, ASSIGNOUID, CASHRATE, 
      FDFEERATE, SPEEDCASH, ACODETYPE, 
      CHARGECTYPE, SMFEERATE, SMFJFEERATE, 
      ISDEFAULT, ALIPAYFEERATE, QUICKFEERATE
      )
    values (#{id,jdbcType=DECIMAL}, #{roleid,jdbcType=DECIMAL}, #{code,jdbcType=VARCHAR}, 
      #{effective,jdbcType=DECIMAL}, #{createdate,jdbcType=TIMESTAMP}, #{isactivation,jdbcType=DECIMAL}, 
      #{batchid,jdbcType=DECIMAL}, #{organizationid,jdbcType=DECIMAL}, #{terminaltypeid,jdbcType=DECIMAL}, 
      #{distributedate,jdbcType=TIMESTAMP}, #{feerate,jdbcType=DECIMAL}, #{clearrate,jdbcType=DECIMAL}, 
      #{ownbrokeragerate,jdbcType=DECIMAL}, #{clearfee,jdbcType=DECIMAL}, #{fdmaxfee,jdbcType=DECIMAL}, 
      #{fdminfee,jdbcType=DECIMAL}, #{updatetime,jdbcType=TIMESTAMP}, #{updateouid,jdbcType=DECIMAL}, 
      #{assigntime,jdbcType=TIMESTAMP}, #{assignouid,jdbcType=DECIMAL}, #{cashrate,jdbcType=DECIMAL}, 
      #{fdfeerate,jdbcType=DECIMAL}, #{speedcash,jdbcType=DECIMAL}, #{acodetype,jdbcType=DECIMAL}, 
      #{chargectype,jdbcType=DECIMAL}, #{smfeerate,jdbcType=DECIMAL}, #{smfjfeerate,jdbcType=DECIMAL}, 
      #{isdefault,jdbcType=DECIMAL}, #{alipayfeerate,jdbcType=DECIMAL}, #{quickfeerate,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="zytrade.service.mobile.entity.ActivationCodeDO" >
    insert into INFO_ACTIVATION_CODE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="roleid != null" >
        ROLEID,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="effective != null" >
        EFFECTIVE,
      </if>
      <if test="createdate != null" >
        CREATEDATE,
      </if>
      <if test="isactivation != null" >
        ISACTIVATION,
      </if>
      <if test="batchid != null" >
        BATCHID,
      </if>
      <if test="organizationid != null" >
        ORGANIZATIONID,
      </if>
      <if test="terminaltypeid != null" >
        TERMINALTYPEID,
      </if>
      <if test="distributedate != null" >
        DISTRIBUTEDATE,
      </if>
      <if test="feerate != null" >
        FEERATE,
      </if>
      <if test="clearrate != null" >
        CLEARRATE,
      </if>
      <if test="ownbrokeragerate != null" >
        OWNBROKERAGERATE,
      </if>
      <if test="clearfee != null" >
        CLEARFEE,
      </if>
      <if test="fdmaxfee != null" >
        FDMAXFEE,
      </if>
      <if test="fdminfee != null" >
        FDMINFEE,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
      <if test="updateouid != null" >
        UPDATEOUID,
      </if>
      <if test="assigntime != null" >
        ASSIGNTIME,
      </if>
      <if test="assignouid != null" >
        ASSIGNOUID,
      </if>
      <if test="cashrate != null" >
        CASHRATE,
      </if>
      <if test="fdfeerate != null" >
        FDFEERATE,
      </if>
      <if test="speedcash != null" >
        SPEEDCASH,
      </if>
      <if test="acodetype != null" >
        ACODETYPE,
      </if>
      <if test="chargectype != null" >
        CHARGECTYPE,
      </if>
      <if test="smfeerate != null" >
        SMFEERATE,
      </if>
      <if test="smfjfeerate != null" >
        SMFJFEERATE,
      </if>
      <if test="isdefault != null" >
        ISDEFAULT,
      </if>
      <if test="alipayfeerate != null" >
        ALIPAYFEERATE,
      </if>
      <if test="quickfeerate != null" >
        QUICKFEERATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=DECIMAL},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="effective != null" >
        #{effective,jdbcType=DECIMAL},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="isactivation != null" >
        #{isactivation,jdbcType=DECIMAL},
      </if>
      <if test="batchid != null" >
        #{batchid,jdbcType=DECIMAL},
      </if>
      <if test="organizationid != null" >
        #{organizationid,jdbcType=DECIMAL},
      </if>
      <if test="terminaltypeid != null" >
        #{terminaltypeid,jdbcType=DECIMAL},
      </if>
      <if test="distributedate != null" >
        #{distributedate,jdbcType=TIMESTAMP},
      </if>
      <if test="feerate != null" >
        #{feerate,jdbcType=DECIMAL},
      </if>
      <if test="clearrate != null" >
        #{clearrate,jdbcType=DECIMAL},
      </if>
      <if test="ownbrokeragerate != null" >
        #{ownbrokeragerate,jdbcType=DECIMAL},
      </if>
      <if test="clearfee != null" >
        #{clearfee,jdbcType=DECIMAL},
      </if>
      <if test="fdmaxfee != null" >
        #{fdmaxfee,jdbcType=DECIMAL},
      </if>
      <if test="fdminfee != null" >
        #{fdminfee,jdbcType=DECIMAL},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateouid != null" >
        #{updateouid,jdbcType=DECIMAL},
      </if>
      <if test="assigntime != null" >
        #{assigntime,jdbcType=TIMESTAMP},
      </if>
      <if test="assignouid != null" >
        #{assignouid,jdbcType=DECIMAL},
      </if>
      <if test="cashrate != null" >
        #{cashrate,jdbcType=DECIMAL},
      </if>
      <if test="fdfeerate != null" >
        #{fdfeerate,jdbcType=DECIMAL},
      </if>
      <if test="speedcash != null" >
        #{speedcash,jdbcType=DECIMAL},
      </if>
      <if test="acodetype != null" >
        #{acodetype,jdbcType=DECIMAL},
      </if>
      <if test="chargectype != null" >
        #{chargectype,jdbcType=DECIMAL},
      </if>
      <if test="smfeerate != null" >
        #{smfeerate,jdbcType=DECIMAL},
      </if>
      <if test="smfjfeerate != null" >
        #{smfjfeerate,jdbcType=DECIMAL},
      </if>
      <if test="isdefault != null" >
        #{isdefault,jdbcType=DECIMAL},
      </if>
      <if test="alipayfeerate != null" >
        #{alipayfeerate,jdbcType=DECIMAL},
      </if>
      <if test="quickfeerate != null" >
        #{quickfeerate,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zytrade.service.mobile.entity.ActivationCodeDO" >
    update INFO_ACTIVATION_CODE
    <set >
      <if test="roleid != null" >
        ROLEID = #{roleid,jdbcType=DECIMAL},
      </if>
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="effective != null" >
        EFFECTIVE = #{effective,jdbcType=DECIMAL},
      </if>
      <if test="createdate != null" >
        CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="isactivation != null" >
        ISACTIVATION = #{isactivation,jdbcType=DECIMAL},
      </if>
      <if test="batchid != null" >
        BATCHID = #{batchid,jdbcType=DECIMAL},
      </if>
      <if test="organizationid != null" >
        ORGANIZATIONID = #{organizationid,jdbcType=DECIMAL},
      </if>
      <if test="terminaltypeid != null" >
        TERMINALTYPEID = #{terminaltypeid,jdbcType=DECIMAL},
      </if>
      <if test="distributedate != null" >
        DISTRIBUTEDATE = #{distributedate,jdbcType=TIMESTAMP},
      </if>
      <if test="feerate != null" >
        FEERATE = #{feerate,jdbcType=DECIMAL},
      </if>
      <if test="clearrate != null" >
        CLEARRATE = #{clearrate,jdbcType=DECIMAL},
      </if>
      <if test="ownbrokeragerate != null" >
        OWNBROKERAGERATE = #{ownbrokeragerate,jdbcType=DECIMAL},
      </if>
      <if test="clearfee != null" >
        CLEARFEE = #{clearfee,jdbcType=DECIMAL},
      </if>
      <if test="fdmaxfee != null" >
        FDMAXFEE = #{fdmaxfee,jdbcType=DECIMAL},
      </if>
      <if test="fdminfee != null" >
        FDMINFEE = #{fdminfee,jdbcType=DECIMAL},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateouid != null" >
        UPDATEOUID = #{updateouid,jdbcType=DECIMAL},
      </if>
      <if test="assigntime != null" >
        ASSIGNTIME = #{assigntime,jdbcType=TIMESTAMP},
      </if>
      <if test="assignouid != null" >
        ASSIGNOUID = #{assignouid,jdbcType=DECIMAL},
      </if>
      <if test="cashrate != null" >
        CASHRATE = #{cashrate,jdbcType=DECIMAL},
      </if>
      <if test="fdfeerate != null" >
        FDFEERATE = #{fdfeerate,jdbcType=DECIMAL},
      </if>
      <if test="speedcash != null" >
        SPEEDCASH = #{speedcash,jdbcType=DECIMAL},
      </if>
      <if test="acodetype != null" >
        ACODETYPE = #{acodetype,jdbcType=DECIMAL},
      </if>
      <if test="chargectype != null" >
        CHARGECTYPE = #{chargectype,jdbcType=DECIMAL},
      </if>
      <if test="smfeerate != null" >
        SMFEERATE = #{smfeerate,jdbcType=DECIMAL},
      </if>
      <if test="smfjfeerate != null" >
        SMFJFEERATE = #{smfjfeerate,jdbcType=DECIMAL},
      </if>
      <if test="isdefault != null" >
        ISDEFAULT = #{isdefault,jdbcType=DECIMAL},
      </if>
      <if test="alipayfeerate != null" >
        ALIPAYFEERATE = #{alipayfeerate,jdbcType=DECIMAL},
      </if>
      <if test="quickfeerate != null" >
        QUICKFEERATE = #{quickfeerate,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="zytrade.service.mobile.entity.ActivationCodeDO" >
    update INFO_ACTIVATION_CODE
    set ROLEID = #{roleid,jdbcType=DECIMAL},
      CODE = #{code,jdbcType=VARCHAR},
      EFFECTIVE = #{effective,jdbcType=DECIMAL},
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      ISACTIVATION = #{isactivation,jdbcType=DECIMAL},
      BATCHID = #{batchid,jdbcType=DECIMAL},
      ORGANIZATIONID = #{organizationid,jdbcType=DECIMAL},
      TERMINALTYPEID = #{terminaltypeid,jdbcType=DECIMAL},
      DISTRIBUTEDATE = #{distributedate,jdbcType=TIMESTAMP},
      FEERATE = #{feerate,jdbcType=DECIMAL},
      CLEARRATE = #{clearrate,jdbcType=DECIMAL},
      OWNBROKERAGERATE = #{ownbrokeragerate,jdbcType=DECIMAL},
      CLEARFEE = #{clearfee,jdbcType=DECIMAL},
      FDMAXFEE = #{fdmaxfee,jdbcType=DECIMAL},
      FDMINFEE = #{fdminfee,jdbcType=DECIMAL},
      UPDATETIME = #{updatetime,jdbcType=TIMESTAMP},
      UPDATEOUID = #{updateouid,jdbcType=DECIMAL},
      ASSIGNTIME = #{assigntime,jdbcType=TIMESTAMP},
      ASSIGNOUID = #{assignouid,jdbcType=DECIMAL},
      CASHRATE = #{cashrate,jdbcType=DECIMAL},
      FDFEERATE = #{fdfeerate,jdbcType=DECIMAL},
      SPEEDCASH = #{speedcash,jdbcType=DECIMAL},
      ACODETYPE = #{acodetype,jdbcType=DECIMAL},
      CHARGECTYPE = #{chargectype,jdbcType=DECIMAL},
      SMFEERATE = #{smfeerate,jdbcType=DECIMAL},
      SMFJFEERATE = #{smfjfeerate,jdbcType=DECIMAL},
      ISDEFAULT = #{isdefault,jdbcType=DECIMAL},
      ALIPAYFEERATE = #{alipayfeerate,jdbcType=DECIMAL},
      QUICKFEERATE = #{quickfeerate,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>