<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zytrade.service.mobile.dao.TerminalPrivilegesMapper" >
  <resultMap id="BaseResultMap" type="zytrade.service.mobile.entity.TerminalPrivilegesDO" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="FUNCTIONKEY" property="functionkey" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="CREATEDATE" property="createdate" jdbcType="TIMESTAMP" />
    <result column="DELETED" property="deleted" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="TCHANNEL" property="tchannel" jdbcType="DECIMAL" />
    <result column="PAYTCHANNEL" property="paytchannel" jdbcType="DECIMAL" />
    <result column="TPTYPE" property="tptype" jdbcType="DECIMAL" />
    <result column="PASSMSG" property="passmsg" jdbcType="VARCHAR" />
    <result column="PAUSEMSG" property="pausemsg" jdbcType="VARCHAR" />
    <result column="MINTRANSAMT" property="mintransamt" jdbcType="DECIMAL" />
    <result column="MAXTRANSAMT" property="maxtransamt" jdbcType="DECIMAL" />
    <result column="LIMITTRANSMSG" property="limittransmsg" jdbcType="VARCHAR" />
    <result column="DAYALLAMT" property="dayallamt" jdbcType="DECIMAL" />
    <result column="DAYCNT" property="daycnt" jdbcType="DECIMAL" />
    <result column="CRASHT1TYPE" property="crasht1type" jdbcType="DECIMAL" />
    <result column="OPERATESTARTTIME" property="operatestarttime" jdbcType="VARCHAR" />
    <result column="OPERATEENDTIME" property="operateendtime" jdbcType="VARCHAR" />
    <result column="NOOPERATEMSG" property="nooperatemsg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, FUNCTIONKEY, DESCRIPTION, CREATEDATE, DELETED, STATUS, TCHANNEL, PAYTCHANNEL, 
    TPTYPE, PASSMSG, PAUSEMSG, MINTRANSAMT, MAXTRANSAMT, LIMITTRANSMSG, DAYALLAMT, DAYCNT, 
    CRASHT1TYPE, OPERATESTARTTIME, OPERATEENDTIME, NOOPERATEMSG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from INFO_TERMINALPRIVILEGES
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from INFO_TERMINALPRIVILEGES
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="zytrade.service.mobile.entity.TerminalPrivilegesDO" >
    insert into INFO_TERMINALPRIVILEGES (ID, NAME, FUNCTIONKEY, 
      DESCRIPTION, CREATEDATE, DELETED, 
      STATUS, TCHANNEL, PAYTCHANNEL, 
      TPTYPE, PASSMSG, PAUSEMSG, 
      MINTRANSAMT, MAXTRANSAMT, LIMITTRANSMSG, 
      DAYALLAMT, DAYCNT, CRASHT1TYPE, 
      OPERATESTARTTIME, OPERATEENDTIME, NOOPERATEMSG
      )
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{functionkey,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, #{deleted,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL}, #{tchannel,jdbcType=DECIMAL}, #{paytchannel,jdbcType=DECIMAL}, 
      #{tptype,jdbcType=DECIMAL}, #{passmsg,jdbcType=VARCHAR}, #{pausemsg,jdbcType=VARCHAR}, 
      #{mintransamt,jdbcType=DECIMAL}, #{maxtransamt,jdbcType=DECIMAL}, #{limittransmsg,jdbcType=VARCHAR}, 
      #{dayallamt,jdbcType=DECIMAL}, #{daycnt,jdbcType=DECIMAL}, #{crasht1type,jdbcType=DECIMAL}, 
      #{operatestarttime,jdbcType=VARCHAR}, #{operateendtime,jdbcType=VARCHAR}, #{nooperatemsg,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="zytrade.service.mobile.entity.TerminalPrivilegesDO" >
    insert into INFO_TERMINALPRIVILEGES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="functionkey != null" >
        FUNCTIONKEY,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="createdate != null" >
        CREATEDATE,
      </if>
      <if test="deleted != null" >
        DELETED,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="tchannel != null" >
        TCHANNEL,
      </if>
      <if test="paytchannel != null" >
        PAYTCHANNEL,
      </if>
      <if test="tptype != null" >
        TPTYPE,
      </if>
      <if test="passmsg != null" >
        PASSMSG,
      </if>
      <if test="pausemsg != null" >
        PAUSEMSG,
      </if>
      <if test="mintransamt != null" >
        MINTRANSAMT,
      </if>
      <if test="maxtransamt != null" >
        MAXTRANSAMT,
      </if>
      <if test="limittransmsg != null" >
        LIMITTRANSMSG,
      </if>
      <if test="dayallamt != null" >
        DAYALLAMT,
      </if>
      <if test="daycnt != null" >
        DAYCNT,
      </if>
      <if test="crasht1type != null" >
        CRASHT1TYPE,
      </if>
      <if test="operatestarttime != null" >
        OPERATESTARTTIME,
      </if>
      <if test="operateendtime != null" >
        OPERATEENDTIME,
      </if>
      <if test="nooperatemsg != null" >
        NOOPERATEMSG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="functionkey != null" >
        #{functionkey,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="tchannel != null" >
        #{tchannel,jdbcType=DECIMAL},
      </if>
      <if test="paytchannel != null" >
        #{paytchannel,jdbcType=DECIMAL},
      </if>
      <if test="tptype != null" >
        #{tptype,jdbcType=DECIMAL},
      </if>
      <if test="passmsg != null" >
        #{passmsg,jdbcType=VARCHAR},
      </if>
      <if test="pausemsg != null" >
        #{pausemsg,jdbcType=VARCHAR},
      </if>
      <if test="mintransamt != null" >
        #{mintransamt,jdbcType=DECIMAL},
      </if>
      <if test="maxtransamt != null" >
        #{maxtransamt,jdbcType=DECIMAL},
      </if>
      <if test="limittransmsg != null" >
        #{limittransmsg,jdbcType=VARCHAR},
      </if>
      <if test="dayallamt != null" >
        #{dayallamt,jdbcType=DECIMAL},
      </if>
      <if test="daycnt != null" >
        #{daycnt,jdbcType=DECIMAL},
      </if>
      <if test="crasht1type != null" >
        #{crasht1type,jdbcType=DECIMAL},
      </if>
      <if test="operatestarttime != null" >
        #{operatestarttime,jdbcType=VARCHAR},
      </if>
      <if test="operateendtime != null" >
        #{operateendtime,jdbcType=VARCHAR},
      </if>
      <if test="nooperatemsg != null" >
        #{nooperatemsg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zytrade.service.mobile.entity.TerminalPrivilegesDO" >
    update INFO_TERMINALPRIVILEGES
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="functionkey != null" >
        FUNCTIONKEY = #{functionkey,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        DELETED = #{deleted,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="tchannel != null" >
        TCHANNEL = #{tchannel,jdbcType=DECIMAL},
      </if>
      <if test="paytchannel != null" >
        PAYTCHANNEL = #{paytchannel,jdbcType=DECIMAL},
      </if>
      <if test="tptype != null" >
        TPTYPE = #{tptype,jdbcType=DECIMAL},
      </if>
      <if test="passmsg != null" >
        PASSMSG = #{passmsg,jdbcType=VARCHAR},
      </if>
      <if test="pausemsg != null" >
        PAUSEMSG = #{pausemsg,jdbcType=VARCHAR},
      </if>
      <if test="mintransamt != null" >
        MINTRANSAMT = #{mintransamt,jdbcType=DECIMAL},
      </if>
      <if test="maxtransamt != null" >
        MAXTRANSAMT = #{maxtransamt,jdbcType=DECIMAL},
      </if>
      <if test="limittransmsg != null" >
        LIMITTRANSMSG = #{limittransmsg,jdbcType=VARCHAR},
      </if>
      <if test="dayallamt != null" >
        DAYALLAMT = #{dayallamt,jdbcType=DECIMAL},
      </if>
      <if test="daycnt != null" >
        DAYCNT = #{daycnt,jdbcType=DECIMAL},
      </if>
      <if test="crasht1type != null" >
        CRASHT1TYPE = #{crasht1type,jdbcType=DECIMAL},
      </if>
      <if test="operatestarttime != null" >
        OPERATESTARTTIME = #{operatestarttime,jdbcType=VARCHAR},
      </if>
      <if test="operateendtime != null" >
        OPERATEENDTIME = #{operateendtime,jdbcType=VARCHAR},
      </if>
      <if test="nooperatemsg != null" >
        NOOPERATEMSG = #{nooperatemsg,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="zytrade.service.mobile.entity.TerminalPrivilegesDO" >
    update INFO_TERMINALPRIVILEGES
    set NAME = #{name,jdbcType=VARCHAR},
      FUNCTIONKEY = #{functionkey,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      DELETED = #{deleted,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      TCHANNEL = #{tchannel,jdbcType=DECIMAL},
      PAYTCHANNEL = #{paytchannel,jdbcType=DECIMAL},
      TPTYPE = #{tptype,jdbcType=DECIMAL},
      PASSMSG = #{passmsg,jdbcType=VARCHAR},
      PAUSEMSG = #{pausemsg,jdbcType=VARCHAR},
      MINTRANSAMT = #{mintransamt,jdbcType=DECIMAL},
      MAXTRANSAMT = #{maxtransamt,jdbcType=DECIMAL},
      LIMITTRANSMSG = #{limittransmsg,jdbcType=VARCHAR},
      DAYALLAMT = #{dayallamt,jdbcType=DECIMAL},
      DAYCNT = #{daycnt,jdbcType=DECIMAL},
      CRASHT1TYPE = #{crasht1type,jdbcType=DECIMAL},
      OPERATESTARTTIME = #{operatestarttime,jdbcType=VARCHAR},
      OPERATEENDTIME = #{operateendtime,jdbcType=VARCHAR},
      NOOPERATEMSG = #{nooperatemsg,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>