<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zytrade.service.mobile.dao.TerminalErrorLogDOMapper" >
  <resultMap id="BaseResultMap" type="zytrade.service.mobile.entity.TerminalErrorLogDO" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="TERMINALTYPEID" property="terminaltypeid" jdbcType="DECIMAL" />
    <result column="ROLEID" property="roleid" jdbcType="DECIMAL" />
    <result column="USERID" property="userid" jdbcType="DECIMAL" />
    <result column="CLIENTTYPE" property="clienttype" jdbcType="DECIMAL" />
    <result column="PATH" property="path" jdbcType="VARCHAR" />
    <result column="CREATEDATE" property="createdate" jdbcType="TIMESTAMP" />
    <result column="DCNT" property="dcnt" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TERMINALTYPEID, ROLEID, USERID, CLIENTTYPE, PATH, CREATEDATE, DCNT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from INFO_TERMINALERRORLOG
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from INFO_TERMINALERRORLOG
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="zytrade.service.mobile.entity.TerminalErrorLogDO" >
    insert into INFO_TERMINALERRORLOG (ID, TERMINALTYPEID, ROLEID, 
      USERID, CLIENTTYPE, PATH, 
      CREATEDATE, DCNT)
    values (#{id,jdbcType=DECIMAL}, #{terminaltypeid,jdbcType=DECIMAL}, #{roleid,jdbcType=DECIMAL}, 
      #{userid,jdbcType=DECIMAL}, #{clienttype,jdbcType=DECIMAL}, #{path,jdbcType=VARCHAR}, 
      #{createdate,jdbcType=TIMESTAMP}, #{dcnt,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="zytrade.service.mobile.entity.TerminalErrorLogDO" >
    insert into INFO_TERMINALERRORLOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="terminaltypeid != null" >
        TERMINALTYPEID,
      </if>
      <if test="roleid != null" >
        ROLEID,
      </if>
      <if test="userid != null" >
        USERID,
      </if>
      <if test="clienttype != null" >
        CLIENTTYPE,
      </if>
      <if test="path != null" >
        PATH,
      </if>
      <if test="createdate != null" >
        CREATEDATE,
      </if>
      <if test="dcnt != null" >
        DCNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="terminaltypeid != null" >
        #{terminaltypeid,jdbcType=DECIMAL},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=DECIMAL},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=DECIMAL},
      </if>
      <if test="clienttype != null" >
        #{clienttype,jdbcType=DECIMAL},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="dcnt != null" >
        #{dcnt,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zytrade.service.mobile.entity.TerminalErrorLogDO" >
    update INFO_TERMINALERRORLOG
    <set >
      <if test="terminaltypeid != null" >
        TERMINALTYPEID = #{terminaltypeid,jdbcType=DECIMAL},
      </if>
      <if test="roleid != null" >
        ROLEID = #{roleid,jdbcType=DECIMAL},
      </if>
      <if test="userid != null" >
        USERID = #{userid,jdbcType=DECIMAL},
      </if>
      <if test="clienttype != null" >
        CLIENTTYPE = #{clienttype,jdbcType=DECIMAL},
      </if>
      <if test="path != null" >
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="dcnt != null" >
        DCNT = #{dcnt,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="zytrade.service.mobile.entity.TerminalErrorLogDO" >
    update INFO_TERMINALERRORLOG
    set TERMINALTYPEID = #{terminaltypeid,jdbcType=DECIMAL},
      ROLEID = #{roleid,jdbcType=DECIMAL},
      USERID = #{userid,jdbcType=DECIMAL},
      CLIENTTYPE = #{clienttype,jdbcType=DECIMAL},
      PATH = #{path,jdbcType=VARCHAR},
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      DCNT = #{dcnt,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>